.table-bordered {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  .table-bordered th, .table-bordered td {
    border: 1px solid black;
  }




  body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center; /* Centers the content horizontally */
    width: 80%;
    max-width: 900px; 
  }
  
  table {
    width: 100%; /* Makes the table take up the entire width of the container */
    margin-top: 20px;
    border-collapse: collapse; /* Ensures the borders don't have extra space between them */
  }
  
  th, td {
    padding: 8px;
    text-align: center; /* Centers table content */
    border: 1px solid #ddd;
  }
  
  input[type="text"] {
    padding: 8px;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  }