<h2>Car List</h2>
<input type="text" 
[(ngModel)]="searchTerm" 
(ngModelChange)="filterCars()"
placeholder="Search by name or plate..." >

<table class="table-bordered">
    <thead>
    <tr>
      <th>Car ID</th>
      <th>Name</th>
      <th>Model</th>
      <th>Has Plates</th>
      <th>Plate Number</th>
      <th>Key Number</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of filteredCars">
      <td>{{ car.carID }}</td>
      <td>{{ car.name }}</td>
      <td>{{ car.model }}</td>
      <td>{{ car.hasPlates }}</td>
      <td>{{ car.plateNo }}</td>
      <td>{{ car.keyNo }}</td>
    </tr>
  </tbody>
</table>

